[Unit]
Description=Vision Processing for finding boilers

[Service]
Type=simple
User=waffle
ExecStart=/usr/local/bin/waffles_vision

[Install]
WantedBy=multi-user.target
